{% extends "base.html" %}

{% block title %} List Rentals {% endblock %}

{% block header %}All Rentals{% endblock %}

{% block content %}
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Rental ID</th>
                <th>Start Date</th>
                <th>End Date</th>
                <th>Start Mileage</th>
                <th>End Mileage</th>
                <th>Registration</th>
                <th>Insurance ID</th>
                <th>Customer ID</th>
            </tr>
        </thead>
        <tbody>
            {% for rental in rentals %}
            <tr>
                {% for field in rental %}
                <td>{{ field }}</td>
                {% endfor %}
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <button type="button" class="btn btn-primary btn-lg mt-3" onclick="window.location.href='{{ url_for('rent_vehicle') }}'"> Rent a Vehicle </button>

{% endblock %}

