{% extends "base.html" %}

{% block title %} View Customer{% endblock %}

{% block header %}Customer Details: {{ customer.email }} {% endblock %}

{% block content %}

 <div class="container mt-5">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Customer</th>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Address</th>
                    <th>Phone Number</th>
                    <th>Email</th>
                    <th>Phone Number</th>
                    <th>Licence Number</th>
                    <th>Date of Birth</th>
                    <th>Date of Registration</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>{{ customer.customer_id }}</td>
                    <td>{{ customer.first_name }}</td>
                    <td> {{ customer.last_name }}</td>
                    <td>{{ customer.address }}</td>
                    <td>{{ customer.phone_number }}</td>
                    <td>{{ customer.email }}</td>
                    <td>{{ customer.phone_number }}</td>
                    <td>{{ customer.license_number }}</td>
                    <td> {{ customer.date_of_birth }}</td>
                    <td>{{ customer.date_of_registration }}</td> 
                </tr>
            </tbody>
        </table>

        <button type="button" class="btn btn-primary btn-lg mt-3" onclick="window.location.href='{{ url_for('customers') }}'"> Go Back </button>
        <button type="button" class="btn btn-primary btn-lg mt-3" onclick="window.location.href='{{ url_for('home', customer_id=customer.customer_id) }}'">
            Edit
        </button>
           
    </div>

{% endblock %}
