{% extends "base.html" %}

{% block title %}Add New Vehicle{% endblock %}

{% block header %}Add New Vehicle{% endblock %}

{% block content %}
    <form action="{{ url_for('add_vehicle') }}" method="post">
        <div class="form-group">
            <label for="type">Type:</label>
            <select id="type" name="type" class="form-control" required>
                <option disabled selected></option>
            </select>
                
            </select>
        </div>
        <div class="form-group">
            <label for="category">Category:</label>
            <select id="category" name="category" class="form-control" required>
                <option disabled selected></option>
            </select>
        </div>
        <div class="form-group">
            <label for="manufacturer">Manufacturer:</label>
            <select id="manufacturer" name="manufacturer" class="form-control" required>
                <option disabled selected></option>
            </select>
        </div>
        <button type="submit" class="btn btn-primary">Add</button>
    </form>

    <script>
        // Fetch data from the API and populate the select control
        // This is not a great example of using client-side JavaScript and api calls to populate a select control
        // This is just an example to demonstrate client-side JavaScript and api calls
        function fetchAndPopulateSelectControl(url, selectControl) {
            fetch(url)
                .then(response => response.json())
                .then(data => {
                    Object.entries(data).forEach(([id, name]) => {
                        const option = document.createElement('option');
                        option.value = id;
                        option.textContent = name;
                        selectControl.appendChild(option);
                    });
                });
        }

        // Populate the select controls when the DOM is loaded otherwise the select controls will be empty
        document.addEventListener('DOMContentLoaded', function() {
            fetchAndPopulateSelectControl('/api/types', document.getElementById('type'));
            fetchAndPopulateSelectControl('/api/categories', document.getElementById('category'));
            fetchAndPopulateSelectControl('/api/manufacturers', document.getElementById('manufacturer'));
        });


    </script>
{% endblock %}
