
{% extends "base.html" %}

{% block title %}Manage Vehicles{% endblock %}

{% block header %}Manage Vehicles{% endblock %}

{% block content %}
    





<table class="table table-striped">
    <thead>
        <tr>
            <th>ID</th>
            <th>Type</th>
            <th>Category</th>
            <th>Manufacturer</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        {% for vehicle in vehicles %}
        <tr>
            <td>{{ vehicle["id"] }}</td>
            <td>{{ vehicle["type"] }}</td>
            <td>{{ vehicle["category"] }}</td>
            <td>{{ vehicle["manufacturer"] }}</td>
            
            <td>
                <form action="{{ url_for('delete_vehicle', vehicle_id=vehicle['id']) }}" method="post">
                    <button type="submit" class="btn btn-danger">Delete</button>
                </form>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<a href="{{ url_for('add_vehicle') }}" class="btn btn-primary mb-4">Add New Vehicle</a>

{% endblock %}